Repository pokemon-GA/scarlet-queen: changes, and which lint-staged commands are due for each by the changed paths.
All: rustfmt, npm run fmt

.lintstagedrc:

{
  "*.rs": ["rustfmt"],
  "*.toml": ["npm run fmt"]
}

chore: add mdbook-mermaid
  docs/book.toml
  docs/src/chapter_1.md
  flake.nix
Due: npm run fmt

chore: add mermaid js files
  README.md
  docs/mermaid-init.js
  docs/mermaid.min.js
Due: none

chore: add mdbook-katex
  README.md
  docs/book.toml
  docs/src/chapter_1.md
  flake.nix
Due: npm run fmt

chore: update docs
  README.md
  docs/src/SUMMARY.md
  docs/src/chapter_1.md
  index.html
Due: none

deploy: 76f908c616e43e3767330c71451b202a06ab28bb
  404.html
  chapter_1.html
  index.html
  mermaid-init.js
  mermaid.min.js
  print.html
  searchindex.js
  toc.html
  toc.js
Due: none

wip
  README.md
Due: none

deploy: 9bd94a4a86ce5518d4f24a42d405a8ef0dd0e3d1
  index.html
  print.html
  searchindex.js
Due: none

chore: update README.md
  README.md
Due: none

deploy: f2ca36c170e74c26e29bb8ba36294134e50956ad
  index.html
  print.html
  searchindex.js
Due: none

chore update documents
  docs/book.toml
  docs/src/404.md
  docs/src/SUMMARY.md
  docs/src/contribute/branch_strategy.md
  docs/src/contribute/documents.md
  docs/src/contribute/dpcuments.md
  docs/src/contribute/setup.md
  docs/src/contribute/test.md
  docs/src/introduction.md
  docs/src/user_references/getting_started.md
  docs/src/user_references/structure.md
Due: npm run fmt

chore: update flake.nix
  flake.nix
Due: none

chore: update documents
  docs/src/contribute/dpcuments.md
Due: none

deploy: 9fc267e2f7381ace4b4aae4fc81bbc430e7f4dc5
  contribute/branch_strategy.html
  contribute/documents.html
  contribute/setup.html
  contribute/test.html
  introduction.html
  print.html
  searchindex.js
  toc.html
  toc.js
  user_references/getting_started.html
  user_references/structure.html
Due: none

chore: #40 コメント追加・軽微な修正
  crates/scarlet-queen-core/src/error.rs
  crates/scarlet-queen-core/src/group.rs
  crates/scarlet-queen-core/src/individual.rs
  crates/scarlet-queen-entrypoint/src/function.rs
  crates/scarlet-queen-fitness/src/effective.rs
  crates/scarlet-queen-fitness/src/pokemon_type.rs
  crates/scarlet-queen-generation/src/group.rs
  crates/scarlet-queen-generation/src/individual.rs
  crates/scarlet-queen-initializer/src/group.rs
  crates/scarlet-queen-replenisher/src/from_top.rs
  crates/scarlet-queen-selector/src/rank.rs
  out/N=100_R=75_005/img_N=100_R=75_005.png
  out/N=100_R=75_005/res_N=100_R=75_005.txt
Due: rustfmt

chore: #40 コメント追加・軽微な修正
  crates/scarlet-queen-core/src/group.rs
  crates/scarlet-queen-core/src/individual.rs
  crates/scarlet-queen-core/src/pokemon_type.rs
  crates/scarlet-queen-fitness/src/pokemon_type.rs
  crates/scarlet-queen-generation/src/group.rs
  crates/scarlet-queen-generation/src/individual.rs
  crates/scarlet-queen-replenisher/src/from_top.rs
  crates/scarlet-queen-selector/src/rank.rs
Due: rustfmt

chore: update settings.json
  .vscode/settings.json
Due: none

chore: #40 コメント追加・軽微な修正
  crates/scarlet-queen-core/src/individual.rs
  crates/scarlet-queen-core/src/pokemon_type.rs
Due: rustfmt

chore: #40 コメント追加・軽微な修正
  crates/scarlet-queen-core/src/pokemon_type.rs
  crates/scarlet-queen-entrypoint/src/main.rs
  crates/scarlet-queen-generation/src/group.rs
  crates/scarlet-queen-selector/src/rank.rs
  out/N=100_R=75_006/img_N=100_R=75_006.png
  out/N=100_R=75_006/res_N=100_R=75_006.txt
Due: rustfmt

chore: update README.md
  .gitignore
  README.md
  index.html
Due: none

Update README.md
  README.md
Due: none

chore: test
  diff
Due: none

feat: #66 サイクルの検出
  crates/scarlet-queen-core/src/group.rs
  crates/scarlet-queen-entrypoint/src/find_cycle.rs
  crates/scarlet-queen-entrypoint/src/function.rs
  crates/scarlet-queen-entrypoint/src/lib.rs
  crates/scarlet-queen-entrypoint/src/main.rs
  crates/scarlet-queen-entrypoint/src/pokemon_type.rs
  crates/scarlet-queen-generation/src/group.rs
  out/N=100_R=75_000/img_N=100_R=75_000.png
  out/N=100_R=75_000/res_N=100_R=75_000.txt
  out/N=100_R=75_001/img_N=100_R=75_001.png
  out/N=100_R=75_001/res_N=100_R=75_001.txt
  out/N=100_R=75_002/img_N=100_R=75_002.png
  out/N=100_R=75_002/res_N=100_R=75_002.txt
  out/N=100_R=75_003/img_N=100_R=75_003.png
  out/N=100_R=75_003/res_N=100_R=75_003.txt
  out/N=100_R=75_004/img_N=100_R=75_004.png
  out/N=100_R=75_004/res_N=100_R=75_004.txt
  out/N=100_R=75_005/img_N=100_R=75_005.png
  out/N=100_R=75_005/res_N=100_R=75_005.txt
  out/N=100_R=80_000/img_N=100_R=80_000.png
  out/N=100_R=80_000/res_N=100_R=80_000.txt
  out/N=100_R=80_001/img_N=100_R=80_001.png
  out/N=100_R=80_001/res_N=100_R=80_001.txt
  out/N=100_R=80_002/img_N=100_R=80_002.png
  out/N=100_R=80_002/res_N=100_R=80_002.txt
  out/N=100_R=80_003/img_N=100_R=80_003.png
  out/N=100_R=80_003/res_N=100_R=80_003.txt
  out/N=100_R=80_004/img_N=100_R=80_004.png
  out/N=100_R=80_004/res_N=100_R=80_004.txt
  out/N=100_R=90_000/img_N=100_R=90_000.png
  out/N=100_R=90_000/res_N=100_R=90_000.txt
  out/N=100_R=90_001/img_N=100_R=90_001.png
  out/N=100_R=90_001/res_N=100_R=90_001.txt
  out/N=100_R=90_002/img_N=100_R=90_002.png
  out/N=100_R=90_002/res_N=100_R=90_002.txt
  out/N=100_R=90_003/img_N=100_R=90_003.png
  out/N=100_R=90_003/res_N=100_R=90_003.txt
  out/N=100_R=90_004/img_N=100_R=90_004.png
  out/N=100_R=90_004/res_N=100_R=90_004.txt
Due: rustfmt

chore: #40 コメント追加・軽微な修正
  crates/scarlet-queen-core/src/error.rs
  crates/scarlet-queen-core/src/group.rs
  crates/scarlet-queen-core/src/individual.rs
  crates/scarlet-queen-entrypoint/src/function.rs
  crates/scarlet-queen-fitness/src/effective.rs
  crates/scarlet-queen-fitness/src/pokemon_type.rs
  crates/scarlet-queen-generation/src/group.rs
  crates/scarlet-queen-generation/src/individual.rs
  crates/scarlet-queen-initializer/src/group.rs
  crates/scarlet-queen-replenisher/src/from_top.rs
  crates/scarlet-queen-selector/src/rank.rs
Due: rustfmt

chore: #40 コメント追加・軽微な修正
  crates/scarlet-queen-core/src/pokemon_type.rs
  crates/scarlet-queen-generation/src/group.rs
  crates/scarlet-queen-selector/src/rank.rs
  out/N=100_R=75_006/img_N=100_R=75_006.png
  out/N=100_R=75_006/res_N=100_R=75_006.txt
Due: rustfmt

chore: wip
  crates/scarlet-queen-core/src/group.rs
  crates/scarlet-queen-entrypoint/src/function.rs
  crates/scarlet-queen-generation/src/group.rs
Due: rustfmt

fix: prod-test#39
  crates/scarlet-queen-core/src/each_individual.rs
  crates/scarlet-queen-core/src/group.rs
  crates/scarlet-queen-core/src/lib.rs
  crates/scarlet-queen-core/src/pokemon_type.rs
  crates/scarlet-queen-entrypoint/src/pokemon_type.rs
  crates/scarlet-queen-fitness/src/effective.rs
  crates/scarlet-queen-fitness/src/pokemon_type.rs
  crates/scarlet-queen-generation/src/group.rs
  crates/scarlet-queen-generation/src/individual.rs
  crates/scarlet-queen-initializer/src/group.rs
  crates/scarlet-queen-replenisher/src/from_top.rs
  crates/scarlet-queen-selector/src/rank.rs
Due: rustfmt

fix: prod-test#39
  crates/scarlet-queen-core/src/each_individual.rs
  crates/scarlet-queen-core/src/pokemon_type.rs
Due: rustfmt

chore: remove warnings
  crates/scarlet-queen-core/src/each_individual.rs
  crates/scarlet-queen-core/src/pokemon_type.rs
  crates/scarlet-queen-entrypoint/src/find_cycle.rs
  crates/scarlet-queen-entrypoint/src/main.rs
  crates/scarlet-queen-entrypoint/src/pokemon_type.rs
Due: rustfmt

chore: update docs.yaml
  .github/workflows/docs.yaml
Due: none
