Repository pokemon-GA/scarlet-queen: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt, npm run fmt

chore: update README.md
  README.md
Due: none

update: update Selector impl
  .lintstagedrc
  crates/scarlet-queen-selector/src/lib.rs
  crates/scarlet-queen-selector/src/random.rs
  package.json
Due: cargo fmt

feat: #15
  crates/scarlet-queen-fitness/src/effective.rs
  crates/scarlet-queen-fitness/src/individual.rs
  crates/scarlet-queen-fitness/src/lib.rs
  crates/scarlet-queen-fitness/src/pokemon_type.rs
Due: cargo fmt

feat: #15
  Cargo.lock
  crates/scarlet-queen-core/src/each_crate_individual.rs
  crates/scarlet-queen-core/src/error.rs
  crates/scarlet-queen-core/src/individual.rs
  crates/scarlet-queen-core/src/lib.rs
  crates/scarlet-queen-core/src/pokemon_type.rs
  crates/scarlet-queen-entrypoint/src/main.rs
  crates/scarlet-queen-fitness/src/effective.rs
  crates/scarlet-queen-fitness/src/individual.rs
  crates/scarlet-queen-fitness/src/lib.rs
  crates/scarlet-queen-fitness/src/pokemon_type.rs
  crates/scarlet-queen-generation/Cargo.toml
  crates/scarlet-queen-generation/src/error.rs
  crates/scarlet-queen-generation/src/group.rs
  crates/scarlet-queen-generation/src/individual.rs
  crates/scarlet-queen-generation/src/lib.rs
  crates/scarlet-queen-generation/src/tmp.rs
  crates/scarlet-queen-initializer/src/group.rs
  crates/scarlet-queen-initializer/src/lib.rs
  crates/scarlet-queen-replenisher/src/individual.rs
  crates/scarlet-queen-replenisher/src/lib.rs
  crates/scarlet-queen-selector/src/error.rs
  crates/scarlet-queen-selector/src/individual.rs
  crates/scarlet-queen-selector/src/lib.rs
Due: cargo fmt, npm run fmt

chore: test pre-commit
  crates/scarlet-queen-core/src/lib.rs
Due: cargo fmt

chore: test pre-commit
  crates/scarlet-queen-core/src/individual.rs
Due: cargo fmt

feat: #28
  Cargo.lock
  Cargo.toml
  crates/scarlet-queen-core/src/error.rs
  crates/scarlet-queen-core/src/group.rs
  crates/scarlet-queen-core/src/individual.rs
  crates/scarlet-queen-core/src/lib.rs
  crates/scarlet-queen-entrypoint/Cargo.toml
  crates/scarlet-queen-entrypoint/src/function.rs
  crates/scarlet-queen-entrypoint/src/lib.rs
  crates/scarlet-queen-entrypoint/src/main.rs
  crates/scarlet-queen-entrypoint/src/pokemon_type.rs
  crates/scarlet-queen-fitness/src/individual.rs
  crates/scarlet-queen-fitness/src/lib.rs
  crates/scarlet-queen-fitness/src/pokemon_type.rs
  crates/scarlet-queen-generation/Cargo.toml
  crates/scarlet-queen-generation/src/error.rs
  crates/scarlet-queen-generation/src/group.rs
  crates/scarlet-queen-generation/src/individual.rs
  crates/scarlet-queen-generation/src/lib.rs
  crates/scarlet-queen-replenisher/src/individual.rs
  crates/scarlet-queen-replenisher/src/lib.rs
  crates/scarlet-queen-selector/src/individual.rs
  crates/scarlet-queen-selector/src/lib.rs
Due: cargo fmt, npm run fmt

Update README.md
  README.md
Due: none

fix: fix pre-commit
  .prettierrc
  package.json
Due: none

update: update package-lock.json
  package-lock.json
Due: none

fix: patch for entrypoint dependences
  flake.lock
  flake.nix
Due: none

fix: fix clippy warnings
  crates/scarlet-queen-fitness/src/pokemon_type.rs
  crates/scarlet-queen-generation/src/individual.rs
Due: cargo fmt

wip
  .vscode/settings.json
Due: none

fix: #28
  crates/scarlet-queen-generation/src/group.rs
  crates/scarlet-queen-generation/src/individual.rs
Due: cargo fmt

fix: #28-2
  crates/scarlet-queen-generation/src/individual.rs
Due: cargo fmt

chore: #40
  Cargo.lock
  crates/scarlet-queen-core/Cargo.toml
  crates/scarlet-queen-core/src/pokemon_type.rs
  crates/scarlet-queen-entrypoint/src/main.rs
  crates/scarlet-queen-entrypoint/src/pokemon_type.rs
  img_N=100_R=80_005.png
  package.json
  res_N=100_R=80_005.txt
Due: cargo fmt, npm run fmt

chore: #40
  img_N=100_R=75_001.png
  img_N=100_R=75_002.png
  img_N=100_R=75_003.png
  img_N=100_R=75_004.png
  img_N=100_R=75_005.png
  img_N=100_R=80_001.png
  img_N=100_R=80_002.png
  img_N=100_R=80_003.png
  img_N=100_R=80_004.png
  img_N=100_R=80_005.png
  img_N=100_R=90_001.png
  img_N=100_R=90_002.png
  img_N=100_R=90_003.png
  img_N=100_R=90_004.png
  img_N=100_R=90_005.png
  package-lock.json
  res_N=100_R=75_001.txt
  res_N=100_R=75_002.txt
  res_N=100_R=75_003.txt
  res_N=100_R=75_004.txt
  res_N=100_R=75_005.txt
  res_N=100_R=80_001.txt
  res_N=100_R=80_002.txt
  res_N=100_R=80_003.txt
  res_N=100_R=80_004.txt
  res_N=100_R=80_005.txt
  res_N=100_R=90_001.txt
  res_N=100_R=90_002.txt
  res_N=100_R=90_003.txt
  res_N=100_R=90_004.txt
  res_N=100_R=90_005.txt
Due: none

chore: #40
  crates/scarlet-queen-entrypoint/src/main.rs
  crates/scarlet-queen-entrypoint/src/pokemon_type.rs
  out/N=100_R=75_001/img_N=100_R=75_001.png
  out/N=100_R=75_001/res_N=100_R=75_001.txt
  out/N=100_R=75_002/img_N=100_R=75_002.png
  out/N=100_R=75_002/res_N=100_R=75_002.txt
  out/N=100_R=75_003/img_N=100_R=75_003.png
  out/N=100_R=75_003/res_N=100_R=75_003.txt
  out/N=100_R=75_004/img_N=100_R=75_004.png
  out/N=100_R=75_004/res_N=100_R=75_004.txt
  out/N=100_R=75_005/img_N=100_R=75_005.png
  out/N=100_R=75_005/res_N=100_R=75_005.txt
Due: cargo fmt

update: update flake.lock
  flake.lock
Due: none

chore: fmt and rm warnings
  crates/scarlet-queen-core/src/group.rs
  crates/scarlet-queen-core/src/individual.rs
  crates/scarlet-queen-core/src/lib.rs
  crates/scarlet-queen-core/src/pokemon_type.rs
  crates/scarlet-queen-entrypoint/src/error.rs
  crates/scarlet-queen-entrypoint/src/function.rs
  crates/scarlet-queen-entrypoint/src/lib.rs
  crates/scarlet-queen-entrypoint/src/pokemon_type.rs
  crates/scarlet-queen-fitness/src/effective.rs
  crates/scarlet-queen-fitness/src/lib.rs
  crates/scarlet-queen-fitness/src/pokemon_type.rs
  crates/scarlet-queen-generation/src/error.rs
  crates/scarlet-queen-generation/src/group.rs
  crates/scarlet-queen-generation/src/lib.rs
  crates/scarlet-queen-initializer/src/group.rs
  crates/scarlet-queen-replenisher/src/from_top.rs
  crates/scarlet-queen-replenisher/src/lib.rs
  crates/scarlet-queen-selector/src/lib.rs
  crates/scarlet-queen-selector/src/rank.rs
Due: cargo fmt

chore: fix AI suggestion
  crates/scarlet-queen-fitness/src/pokemon_type.rs
Due: cargo fmt

chore: fix AI suggestion
  crates/scarlet-queen-fitness/src/effective.rs
Due: cargo fmt

chore: update settings.json
  .vscode/settings.json
Due: none

wip
  package.json
Due: none

feat: setup mddoc
  docs/.gitignore
  docs/book.toml
  docs/src/404.md
  docs/src/SUMMARY.md
  docs/src/chapter_1.md
  flake.nix
Due: npm run fmt

feat: add docs ci
  .github/workflows/docs.yaml
  docs/_config.yaml
  docs/book.toml
Due: npm run fmt

chore: add docs test
  .github/workflows/docs-test.yaml
Due: none

chore: update test ci
  .github/workflows/dev-test.yaml
  .github/workflows/docs-test.yaml
Due: none

chore: update test ci
  .github/workflows/docs-test.yaml
Due: none

fix: fix warning code
  crates/scarlet-queen-fitness/src/effective.rs
  crates/scarlet-queen-fitness/src/pokemon_type.rs
Due: cargo fmt

fix: fix edit-url-template url
  docs/book.toml
Due: npm run fmt

Path conditions:
  cargo fmt: any of: *.rs
  npm run fmt: any of: *.toml
